// Color vars
$color-white: #fefefe;
$color-blue: #74cbd3;
$color-black-1: #010101;
$color-black-2: #110e0d;
$color-grey-1: #f7f7f7;
$color-grey-2: #e8e8e8;

// Font vars
$font-primary: 'Dosis', sans-serif;
$font-display: 'Lato', sans-serif;
